[submodule "Tuinity"]
	path = Tuinity
	url = https://github.com/tsao-chi/Tuinity-autoupstreamupdate.git
	branch = ver/1.16
	update = merge
[submodule "Akarin"]
	path = Akarin
	url = https://github.com/Akarin-project/Akarin
	branch = 1.16.1
	update = merge
[submodule "Purpur"]
	path = Purpur
	url = https://github.com/pl3xgaming/Purpur.git
	branch = ver/1.16
	update = merge
[submodule "Empirecraft"]
	path = Empirecraft
	url = https://github.com/starlis/empirecraft.git
	branch = master
	update = merge
[submodule "Papercut"]
	path = Papercut
	url = https://github.com/Minevictus/Papercut.git
	branch = ver/1.16
	update = merge
[submodule "Origami"]
	path = Origami
	url = https://github.com/MrIvanPlays/Origami/
