[submodule "Paper"]
	path = Paper
	url = https://github.com/PaperMC/Paper.git
[submodule "upstream/Tuinity"]
	path = upstream/Tuinity
	url = https://github.com/Spottedleaf/Tuinity
	branch = master
[submodule "Yatopia-API"]
	path = Yatopia-API
[submodule "Yatopia-Server"]
	path = Yatopia-Server
[submodule "upstream/Purpur"]
	path = upstream/Purpur
	url = https://github.com/pl3xgaming/Purpur.git
	branch = ver/1.16.5
[submodule "upstream/AirplaneLite"]
	path = upstream/AirplaneLite
	url = https://github.com/Technove/AirplaneLite.git
	branch = master
[submodule "upstream/Akarin"]
	path = upstream/Akarin
	url = https://github.com/Akarin-project/Akarin.git
	branch = ver/1.16.4
[submodule "upstream/Empirecraft"]
	path = upstream/Empirecraft
	url = https://github.com/starlis/empirecraft.git
	branch = master
[submodule "upstream/Origami"]
	path = upstream/Origami
	url = https://github.com/Minebench/Origami.git
	branch = 1.16
