Spigot
YAPFA-Server
YAPFA-API
mc-dev
*.iml
.settings/org.eclipse.m2e.core.prefs
.project
.idea
yapfa-paperclip.jar

target/site/surefire-report.html
/patches/Akarin/**
/patches/Purpur/**
/patches/Empirecraft/**
!/patches/Purpur/server.txt
!/patches/Purpur/api.txt