Spigot
Yatopia-Server
Yatopia-API
mc-dev
*.iml
.settings/org.eclipse.m2e.core.prefs
.project
.idea
yatopia-paperclip.jar

target

target/site/surefire-report.html
/patches/Akarin/**
/patches/Purpur/**
/patches/Empirecraft/**
/patches/Papercut/**
/patches/Origami/**
!/patches/Purpur/server.txt
!/patches/Purpur/api.txt
!/patches/Empirecraft/server.txt
!/patches/Empirecraft/api.txt
!/patches/Akarin/server.txt
!/patches/Akarin/api.txt
!/patches/Papercut/server.txt
!/patches/Papercut/api.txt
!/patches/Origami/server.txt
!/patches/Origami/api.txt
yatopia-1.16.1-paperclip.jar
