Spigot
YAPFA-Server
YAPFA-API
mc-dev
*.iml
.settings/org.eclipse.m2e.core.prefs
.project
.idea
yapfa-paperclip.jar

target

target/site/surefire-report.html
/patches/Akarin/**
/patches/Purpur/**
/patches/Empirecraft/**
/patches/Papercut/**
!/patches/Purpur/server.txt
!/patches/Purpur/api.txt
!/patches/Empirecraft/server.txt
!/patches/Empirecraft/api.txt
!/patches/Akarin/server.txt
!/patches/Akarin/api.txt
!/patches/Papercut/server.txt
!/patches/Papercut/api.txt